<ion-view view-title="Change Password">
    <ion-nav-bar class="bar-calm" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>
  <ion-content class="padding">
        <label class="item item-input">
              <input type="password" placeholder="Old Password" ng-model="oldPassword">
        </label>
        <label class="item item-input">
              <input type="password" placeholder="New Password" ng-model="password">
        </label>
  <button class="button button-block button-calm" ng-click="changePasswordNew(oldPassword, password)">Submit</button>
  </ion-content>
</ion-view>
