<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>
<ion-view view-title="Home">
    <ion-nav-bar class="bar-calm" align-title="center">
    <ion-nav-buttons side="right">
      <button class="button" ng-click="logoff()">
        Logoff
      </button>
    </ion-nav-buttons>
</ion-nav-bar>
  <ion-content class="padding">
  <button class="button button-block button-calm" ng-click="account()">Account</button>
    <div class="row">
      <div class="col-md-6">
        <p class="input-group">
          <input type="text" ng-change="changedate()" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>



  </ion-content>
</ion-view>